stages:
  - build

build:
    stage: build
    image: docker:latest
    services:
      - docker:dind
    script:
      - docker build -f backend/Dockerfile -t itam-build:latest .
    only:
      - main  
