stages:
  - build_backend

build_backend:
  stage: build_backend
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -f backend/Dockerfile -t itam-backend:latest backend/
